# Virtual environments
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Output files
*.html
*.png
*.jpg
*.jpeg
*.svg

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db

# PyCharm
.idea/

# Misc
*.env
*.lock