# Ignore virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter artifacts
.ipynb_checkpoints/

# Ignore ALL files in output except exported HTML
/output/*
!/output/
!/output/*.html

# PyCharm
.idea/